h2 {
  background-color: red;
}

#descricao {
  background-color: blue;
  color: white;
}

ol ul li {
  font-style: oblique;
}

ul > li.ingredientes > a {
  color:  green;
}

ul li.ingredientes ul li {
  background-color: gray;
}
