body {
  font-family: Arial, Tahoma, sans-serif;
  line-height: 180%;
  /* padding: 0 200px; */
  padding-left: 200px;
  padding-right: 200px;
}

/* deixa o links clicados em vermelho */
a:visited {
  color: red;
}

h1 {
  font-style: oblique;
}

#descricao {
  font-weight: bold;
  text-decoration: underline;
  text-align: right;
}

#descricao:first-letter {
  font-size: 2em;
}

ul.ingredientes {
  /* list-style: none; */ 
  list-style-type: none;
}
